
@import "config";

.tech-cont {

    & .tech-inner {

        
        padding-top: 160px;
        position: relative;

        & .tech-items-grid {
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            top: 0;
        }
    }

}


.tech-carousel {


    width: 100%;
    top: 130px;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    transition: transform .46s ease-in-out, opacity .2s ease-out;
    box-sizing: border-box;
    display: flex;
    --gap-left: 130px;
    .tech-cart-item {

        transform: translateY(90px) scale(0.85);
        opacity: .5;
        transition: transform .2s ease-in, opacity .2s linear;
        
        box-sizing: border-box;
        flex: none;
        width: calc(100% + var(--gap-left));
        padding-right: var(--gap-left);
        position: relative;
        & .tech-cart-item-inner {
            box-shadow: 0 0 30px -10px #000;
            border-radius: 30px;
            position: relative;
            min-height: 400px;
            background: $background-color-2;
            width: 100%;
            
        }
        & .tech-cart-item-logo {
            display: inline-block;
            width: 100%;
            height: 0;
            position: relative;

            & > * {
                transform: translate(calc(-50% + 20px), calc(-50%));
            }
        }
        & .tech-cart-item-heading {
            padding-left: 140px;
            box-sizing: border-box;

            & > .light-header {
                margin-bottom: 20px;
            } 
        }
        & .tech-cart-item-description {
            padding: 20px;
            margin: 0;
        }
        & .tech-cart-item-content {
            opacity: 0;
            transition: opacity .3s ease-in;
        }

        &.tech-cart-item-active {
            transform: translateY(0);
            opacity: 1;

            & .tech-cart-item-content {
                opacity: 1;
            }
        }
    }

    
}

.tech-carousel-controls {
    position: absolute;
    display: flex;
    width: 100%;
    top: 30px;
    & .flexer {
        flex: 1;
    }

    & .tech-button-transparent {
        background-color: $background-color-2;
        &:hover {
            background-color: lighten($background-color-2, 2%);
        }
    }

    & .tech-carasousel-control {
        flex: none;
        margin: 10px;
    }

    & .tech-carasoul-control-button {
        width: 30px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }
}



.tech-item {
    --percentage: 33%;

    width: var(--percentage);
    box-sizing: border-box;
    padding-bottom: var(--percentage);
    position: relative;

    transition: all .18s ease-out;

    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            transition-delay: $i * 0.05s;
        }
    }

    &.tech-item-hidden {
        opacity: 0;
        transform: translateY(-20px)
    }

    & .tech-item-inner {
        --padding: 10px;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: var(--padding);
        box-sizing: border-box;

        & .tech-item-movable {
            border-radius: 30px;
            position: absolute;
            height: calc(100% - var(--padding) * 2);
            width: calc(100% - var(--padding) * 2);
            transition: all .25s ease-out;
        }

        & .tech-item-content {
            filter: grayscale(100%);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            &.logo-item-content-2 {
                opacity: 0;
                z-index: 2;
            }
        }
        & .tech-item-background-color {
            background-color: $background-color-2;
            box-shadow: 0 0 15px -5px #000;
        }
        & .tech-item-has-logo-2 {
            filter: contrast(0.5);
        }
    }

    &:hover .tech-item-inner .tech-item-movable, .tech-cart-item-active & .tech-item-inner .tech-item-movable {
        filter: none;
        
        transform: translateY(-15px);

        &.logo-item-content-2 + .tech-item-content {
            filter: grayscale(50%);
        }
        &.logo-item-content-2 {
            opacity: 1;
        }
        &.tech-item-background-color {
            box-shadow: 0 10px 40px -10px #000;
        }
    }
}

.tech-fade-in {
    opacity: 0;
    pointer-events: none;
}
.tech-fade-delay {
    transition-delay: .4s, .4s;
}

@media screen and (max-width: 950px) {
    .tech-cart-item .tech-item {
        --percentage: 200px
    }
    .tech-carousel .tech-cart-item .tech-cart-item-logo > * {
        transform: translate(10px, calc(-50%));
    }
    .tech-carousel .tech-cart-item .tech-cart-item-heading {
        padding-left: 210px;
    }
    .tech-carousel {
        top: 200px;
    }
}

@media screen and (max-width: 950px) {
    .tech-cart-item .tech-item {
        --percentage: 150px;
    }
    .tech-carousel .tech-cart-item .tech-cart-item-logo > * {
        transform: translate(21px, -58px);
    }
    .tech-carousel .tech-cart-item .tech-cart-item-heading {
        padding-left: 180px;
    }
}